html,
body {
  background-color: black;
  background-image: url('/christmas.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  position: absolute;
  width: 100%;
}

.main {
  background: white;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  display: inline-block;
  left: 50%;
  max-width: 350px;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;

  #hue {
    display: none;
  }

  .colorPicker {
    color: white;
  }

  input,
  textarea {
    width: 100%;
    padding: 3px 5px;

    &:focus {
      outline: none;
      border: none;
    }
  }

  textarea {
    height: 100px;
  }
}

.card {
  height: 200px;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;

  .content,
  .from {
    background: white;
    margin-bottom: 10px;
    overflow: auto;
    padding: 2px 5px;
  }

  .content {
    height: 140px;
  }

  &:hover {
    z-index: 10000;
  }
}
