html,
body {
  background-color: black;
  background-image: url('/christmas.jpg');
  background-size: cover;
}

.main {
  background: white;
  display: inline-block;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  .title {
    margin-top: 0;
  }
}
